#header {
  background: #4cb1ca;
  font-size: 18px;
  padding: 10px 0 0 0;
}
.text1 {
  padding: .5rem 1rem;
}
#navbarBrand {
  font-size: 38px;
}
#cont {
  font-size: 18px;
}
.navPadding {
  padding: 10px 0 0 0;
}
.navBar {
  padding: 15px 0 15px 0;
}
.icon {
  text-align: center;
  background-color: #7db122;
  border-radius: 15px;
}
.icons {
  color: #ffffff;
  font-size: 20px;
}